@model Dojo.Models.SamouraiViewModel
@*@using Dojo.Helpers*@
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="form-horizontal">
    @Html.Partial("_SamouraiDisplayWithId")
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

